*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
}
header{
    top: 0;
    z-index: 10;
    background-color: rgb(35, 167, 52);
}
.navbar{
    justify-content: center;
    width: 100%;
}
.active{
    border: 1px solid white;
}

.icon_and_title {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80px;
}

.icon_and_title img {
    height: 50px;
    width: 50px;
}

#menu1 {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
#menu1 li {
    padding: 0px 15px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    height: auto;
    white-space: nowrap;
}

#menu1 li:hover {
    background-color: #99FFCC;
    transition: 0.8s;
    color:rgb(35, 167, 52);
}

#menu1 a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logedin{
    color: black;
}
#logedninszoveg{
    text-decoration: underline;
}
/* navbar vége*/

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    background-color: #99FFCC;
    padding: 15px;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #CC99FF;
}