*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
}
header{
    top: 0;
    z-index: 10;
    background-color: rgb(35, 167, 52);
}
.navbar{
    justify-content: center;
    width: 100%;
}
.active{
    border: 1px solid white;
}

.icon_and_title {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 80px;
}

.icon_and_title img {
    height: 50px;
    width: 50px;
}

#menu1 {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
#menu1 li {
    padding: 0px 15px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    height: auto;
    white-space: nowrap;
}

#menu1 li:hover {
    background-color: #99FFCC;
    transition: 0.8s;
    color:rgb(35, 167, 52);
}

#menu1 a {
    text-decoration: none;
    color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logedin{
    color: black;
}
#logedninszoveg{
    text-decoration: underline;
}
/* navbar vége*/

/*BEJELENTKEZÉS OLDAL*/
.logcontainer{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #f3fff92c;
}

.logcontaineritems{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;
    width: 400px;
    height: 570px;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 10px;
    padding: 20px;
}

#log , #reg {
    width: 100%;
    height: 100%;
}
#log fieldset{
    height: 100%;
}
fieldset{
    padding: 10;
}
.logcontaineritems p{
    font-size: 20px;
}
#gombinp, #beinp{
    width: 100%;
    margin: 10px 0px;
}
#beinp{
    height: 30px;
}
#gombinp{
    height: 30px;
}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    background-color: #99FFCC;
    padding: 15px;
}

div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #CC99FF;
}